name: "CI Pipeline for ProfessionAI / Machine Innovators Inc."

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r app/requirements.txt

      - name: Run tests
        run: |
          source .venv/bin/activate
          pytest app/tests/

      - name: Lint code
        run: |
          source .venv/bin/activate
          flake8 app/

      - name: Type check code
        run: |
          source .venv/bin/activate
          mypy app/